
* {
  box-sizing: border-box;
}

body, button {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

nav {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
}

nav a {
	color: white;
	padding: 16px;
	text-decoration: none;
	display: block;
	border: none;
	padding: 16px 32px;
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;
	transition: 0.3s;
	display: inline-block;
	text-decoration: none;
}

nav a:hover {
	background-color: #ddd;
	color: black;
}

main, header, footer {
	margin-left: 200px;
	padding-left: 20px;
}
